body,html{ 
    height:100%;
}

body {
    margin: 60px auto;
    width: 80%;
    background-image: url("/image/3459068.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
}

nav ul {
    padding: 0px;
    list-style: none;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
}
nav ul li {
    display: inline;
    margin-left: 2%;
}

a {
    text-decoration: none;
    color: rgba(39, 41, 48, 0.911);
}
a:hover {
    background-color: rgba(0,0,0,0.15);
    background-size: 10px;
}

h1 {
    font-size: 3em;
    text-align: center;
}
h1 span{
    color: rgba(255,182,193,0.8);
}
h2 {
    text-align: center;
}
h5{
    text-align: left;
}

ul.posts li{
    list-style: none;
    margin-bottom: 1.5em;
}
ul.posts { 
    margin: 20px auto 40px;
}
ul.posts p{
    text-indent:35px;
    font-size: 1em;
    font-weight: 250;
    margin-left: 3%;
}
ul.posts span{
    font-size: 1.2em;
    font-weight: 500;
}
ul.cates{
    margin-top: 10%;
}
ul.cates li{
    list-style: none;
    margin-bottom: 1em;
}

div.title{
    text-align: center;
}
div.index{
    height: 100%
}
div.blurb {
    overflow: hidden;
    background-color:rgba(0,0,0,0.05);
}
div.intro {
    text-indent:40px;
    padding: 2%;
    width: 80%;
    margin: auto;
}
div.indeximg{
    display: table;
    width: 100%;
    padding-top: 1%;
}
div.childblock1{
    display: table-cell;
    overflow: hidden;
    width: 33%;
    height: 250px;
    background-image: url("/image/index1_edit.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    margin-right: 0.5%;
}
div.childblock2{
    display: table-cell;
    overflow: hidden;
    width: 33%;
    height: 500px;
    background-image: url("/image/index2.jpeg");
    background-size: 100%;
    background-repeat: no-repeat;
}
div.childblock3{
    display: table-cell;
    overflow: hidden;
    width: 33%;
    height: 250px;
    background-image: url("/image/index3_edit.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    margin-left: 0.5%;
}

div.post{
    background-color:rgba(0,0,0,0.05);
    padding: 2%;
    margin-bottom: 10px;
    height: 100%;
}
div.post p.meta{
    text-align: center;
    font-size: 1.0em;
}
div.post div.article{
    font-size: 1.0em;
    font-weight: 300;
    text-indent: 35px;
    margin-left: 5%;
    margin-right: 5%;
    line-height: 25px;
}

div.post img{
    opacity: 1;
    text-align: center;
}
div.header{
    display: inline;
}
div.left{
    float: left;
    width: 80%;
    height:100%;
    padding-bottom: 2%;
}
div.right{
    float:right;
    width: 20%;
}
div.right div.category{
    position: fixed;
    margin-top: 2%;
    height: 180px;
    width: inherit;
    text-align: center;
}

div.page{
    text-align: center;
}

div.image-gallery { 
    text-align: center; 
    margin: 5% 0 5% 0;
}
div.image-gallery a:hover{
    background-color: rgba(255,255,255,0)
}
div.image-gallery img { 
    text-align: center; 
    width: 30%;
    margin: 0 0 2% 2%; 
    transition: all 0.5s;
}
div.image-gallery img:hover{
    transform: scale(1.15);
}