<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<div class="title">
				<h1>木槭 | <span>i</span>mm<span>u</span>qi</h1>
			</div>
			
			<nav>
	    		<ul>
					<li class="true"><a href="/">/源/</a></li>
					<li>  </li>
					<li class="true"><a href="/blog">/章/</a></li>
					<li>  </li>
					<li class="true"><a href="/gallery/index.html">/绘/</a></li>
	    		</ul>
			</nav>

			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			
		</body>
	</html>
